body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 100px;
  border-bottom: 1px solid red;
}
.navigation h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #575757;
}
.navigation .btn {
  padding: 8px;
  width: 100px;
  margin-left: 10px;
  font-size: 1.2rem;
  background: #ff5b5b;
  color: white;
  border: none;
  text-decoration: none;
}
.navigation .btn:hover {
  background: #fe7979;
  cursor: pointer;
}
.navigation .btn:active {
  background: #e55050;
}
.cover {
  background-image: url(./images/Pizza.jpg);
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
  width: 50%;
  height: auto;
}
.cover h2 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  margin-bottom: 40px;
  text-shadow: 3px 1px black;
  text-align: center;
}
.cta-btn {
  outline: none;
  padding: 10px;
  width: 150px;
  height: 30px;
  font-size: 1.6rem;
  background: #ff5b5b;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
.cta-btn:hover {
  background: #fe7979;
  cursor: pointer;
}
.cta-btn:active {
  background: #e55050;
}
.orderbtn {
  outline: none;
  padding: 2px;
  width: 150px;
  height: 30px;
  font-size: 1.6rem;
  background: white;
  color: red;
  border-radius: 10px;
  border: black solid 1px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  margin-top: 200px;
}

.content-container {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.content-container h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ececec;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
.pizzacont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 10px 0;
}
.card h3 {
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #515151;
}
.card img {
  width: 100%;
  margin-bottom: 10px;
}
.card button {
  background: green;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  width: 80px;
  height: 30px;
  margin-left: 10px;
}
.card button:hover {
  background: #1da581;
  cursor: pointer;
}
.card button:focus {
  outline: none;
}
.card button:active {
  background: #1f8c6f;
}
.card h4 {
  font-size: 1.1rem;
  background: red;
  color: white;
  font-weight: 600;
  height: 30px;
  display: flex;
  padding: 0 15px 0 15px;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}

.footer {
  text-align: center;
  text-decoration: none;
  border-top: 1px solid red;
  margin-top: 20px;
}

.totalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ececec;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
.formcont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
}

form button {
  background: red;
  color: white;
  border: 1px white solid;
  font-weight: bold;
  width: 10%;
  padding: 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
